
/* setting background */
body{

	background: url("../images/images.jpeg");
}

/* just setting a few attributes on jumbotron */
.jumbotron{
	font-family: cursive;
	background-color: gold;
	max-width: 550px;
}


